.nav-box{
    display: flex;
    height: 100px;
    width: 100%;
    gap: 40px;
    /* border: 1px solid red; */
    background-color: rgba(0,47,52,.03);
}
.location-box{
    margin-top: 20px;
    height: 60%;
    width: 30%;
}
.search-btn{

    margin-top: 21px;
    height: 65%;
    width: 7%;

}